// COLORS
$color-purple: #755cde;
$color-darkpurple: #552049;
$color-orange: #f6a560;
$color-pink: #f39e9e;
$color-red: #eb7565;
$color-aqua: #61c4b7;
$color-black: #030303;
$color-gray: #7a746e;
$color-white: #fff7f0;
// FONT-SIZE
$font-size-100: 14px;
$font-size-200: 16px;
$font-size-300: 18px;
$font-size-400: 24px;
$font-size-500: 26px;
$font-size-600: 32px;
$font-size-700: 36px;
$font-size-800: 40px;
$font-size-900: 44px;
$font-size-1000: 56px;
//FONT-FAMILY
$fony-family-primary: "Plus Jakarta Sans", sans-serif;
//FONT-WEIGHT
$font-weight-500: 500;
$font-weight-700: 700;
